.content{width:80%;margin:10px auto;}
.hide_box{z-index:999;filter:alpha(opacity=50);background:#666;opacity: 0.5;-moz-opacity: 0.5;left:0;top:0;height:99%;width:100%;position:fixed;display:none;}
.shang_box{
	width:540px;height:540px;padding:10px;
	background-color:#fff;
	border-radius:10px;position:fixed;z-index:1000;left:50%;top:50%;
	margin-left:-280px;margin-top:-280px;
	border:1px dotted #dedede;display:none;}
.shang_box img{border:none;border-width:0;}
.bg_shang{
	width: 100%;
    height: 3px;
    background: url(https://wx3.sinaimg.cn/mw690/005Kin8igy1fuzstc1hg4g30ag004dfs.gif) repeat center top;
    position: fixed;
    top: 0;
    z-index: 1030;
}
.dashang{    
	display: block;
    width: 70px;
    margin: 5px auto;
    height: 30px;
    line-height: 12px;
    padding: 10px;
    background-color: #E74851;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
	}
.dashang:hover{color:#fff;font-size: 18px}
.shang_close{float:right;display:inline-block;width:6%}
.shang_logo{display:block;text-align:center;margin:20px auto;}
.shang_tit{width: 100%;height: 75px;text-align: center;line-height: 66px;color: #a3a3a3;font-size: 16px;background: url('https://img.neweb.top/cy-reward-title-bg.jpg');font-family: 'Microsoft YaHei';margin-top: 7px;margin-right:2px;}
.shang_tit p{color:#a3a3a3;text-align:center;font-size:16px;}
.shang_payimg{
	width: 165px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 3px;
    height: 150px;
}
.shang_payimg img{display:block;text-align:center;width:140px;height:140px; }
.pay_explain{text-align:center;margin:10px auto;.shang_payimg-size:12px;color:#545454;}
.radiobox{width: 16px;height: 16px;background: url('https://static.runoob.com/images/dashang/radio2.jpg');display: block;float: left;margin-top: 5px;margin-right: 14px;}
.checked .radiobox{background:url('https://static.runoob.com/images/dashang/radio1.jpg');}
.shang_payselect{text-align:center;margin:0 auto;margin-top:40px;cursor:pointer;height:60px;width:280px;}
.shang_payselect .pay_item{display:inline-block;margin-right:10px;float:left;}
.shang_info{clear:both;}
.shang_info p,.shang_info a{color:#C3C3C3;text-align:center;font-size:12px;text-decoration:none;line-height:2em;}