<div class="copyright" style="margin-top:80px">
    <h5>本站所有图片均来自
        <a rel="nofollow" href="http://cn.bing.com/" target="_blank">必应搜索</a>
    </h5>
    <p style="font-size:13px;" id="yephy"></p>
    <p style="font-size:13px;color:gray">本次访问页面加载花费了：<?php echo str_replace('ms','毫秒',sprintf('%.2fms', (microtime(TRUE) - $_SERVER["REQUEST_TIME_FLOAT"]) * 1000));?></p>
    <p style="font-size: 13px">Copyright © 2017 - 2018
        <a href="https://neweb.top" target="_blank">杰新博客</a>  <a href="/sitemap.xml">网站地图</a>
    </p>
    <p style="font-size: 13px">
        <a href="http://www.miibeian.gov.cn/" target="_blank">晋ICP备18002329-3号</a>
    </p>
</div>
<script>
   $("img.lazy").lazyload({effect : "fadeIn"});
</script>
<script src="https://api.neweb.top/template/static/js/push.js"></script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?8cb6c1328e12d2fa217e139e35e5092e":"https://jspassport.ssl.qhimg.com/11.0.1.js?8cb6c1328e12d2fa217e139e35e5092e";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</body>
</html>	