<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="wb:webmaster" content="291bb2a31ff6be0a" />
    <meta name="baidu-site-verification" content="lOmvn6xFVw" />
    <meta name="keywords" content="必应壁纸,杰新博客,电脑壁纸,手机壁纸,高清壁纸,无水印,壁纸免费下载,风景壁纸,bing" />
    <meta property="og:description" content="必应在国内的名气不是很大，很多人不知道。必应是美国微软的搜索引擎，类似与百度。不过，有个地方很有趣，必应的首页背景图，每日一换，从不重复。都是团队精选的世界各地的风景、人文类的美图，配有相关文字描述。" />
    <link rel="stylesheet" type="text/css" href="__TEMPLATE__static/css/iconfont.css">
    <link rel="icon" href="__TEMPLATE__static/images/bing.ico" sizes="32x32">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.js"></script>
    <link rel="stylesheet" href="__TEMPLATE__static/css/progressively.css">
    <link href="__TEMPLATE__static/css/shang.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__TEMPLATE__static/css/common.css?v=20181115">
    <link rel="stylesheet" href="__TEMPLATE__static/css/main.css?v=2018">
    <title>必应高清壁纸-每天不止一点新鲜感</title>
     <script>
      var _hmt = _hmt || [];
      (function() {
       var hm = document.createElement("script");
       hm.src = "https://hm.baidu.com/hm.js?5f18eaeb7bce19b4fa39d079f4c10c7e";
        var s = document.getElementsByTagName("script")[0]; 
       s.parentNode.insertBefore(hm, s);
      })();
    </script>
</head>
<body oncontextmenu="self.event.returnValue=false">
<div class="bg_shang"></div>
<header>
    <div class="container">
        <a class="logo" href="/">
        <i class="icon icon-bing"></i>
            <span>必应壁纸</span>
        </a>
        <nav>
            <ul class="menu">
                <li>
                    <a href="/" style="color:red;">
                        <p class="text">首页</p>
                    </a>
                </li>
                <li>
                    <a href="https://cn.bing.com/" target="_blank">
                        <p class="text">必应搜索</p>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/about')}">
                        <p class="text">关于</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>	